<div class="main-container">
  <div class="logo-container">
    <img src="\assets\images\logo.png" alt="Logo">
  </div>
  <div class="nav-container">
    <ul>
      <li><a routerLink="/" class="btn btn-primary"><i class="fa-solid fa-house-chimney"></i> Home</a></li>
      <li><a routerLink="recipes/add" class="btn btn-primary"><i class="fa-solid fa-plus"></i>Add recipe</a></li>
    <!-- Add a search bar with an input field and a button to trigger the search -->
    <li>
      <input type="text" [(ngModel)]="searchString" (keyup)="onSearch()" placeholder="Search on name...">
      <button (click)="onSearch()">Search</button>
    </li>
</ul>
    <!-- Pass the search string to the child component using an input binding -->

  </div>


  <div class="searchBox">
      <app-search-recipe [searchString]="searchString"></app-search-recipe>
  </div>
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
</div>
